<h1>Books by <%= @author.name %></h1>
<!-- <h1 class="title">Books by <%= @author.name %></h1> -->

<div>
<!-- <div class="page-wrapper"> -->
  <% @author.books.each do |book| %>
    <div>
    <!-- <div class="book-wrapper"> -->
      <img src="<%= book.cover %>" alt="Book cover of <%= "#{book.title}" %>">
      <%= link_to book.title, book_path(book.id) %>
    </div>
  <% end %>
</div>
