<nav>
  <div><%= link_to "Books that we loved", books_path, class: "nav-logo" %></div>
  <div class="nav-bar">
    <ul>
      <% if user_signed_in? %>
        <li><%= current_user.username %></li>
        <li><%= link_to "Add New Book", find_path %></li>
        <li><%= link_to "Account", users_path %></li>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>