<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Books that we loved", books_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-link active"><%= current_user.username %></li>
          <li class="nav-item"><%= link_to "Add New Book", find_path, class: "nav-link active" %></li>
          <li class="nav-item"><%= link_to "Account", users_path, class: "nav-link active" %></li>
          <% if current_user.has_role? :admin %>
            <li class="nav-item"><%= link_to "Admin", admins_path, class: "nav-link active" %></li>
          <% end %>
          <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link active" %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Login", new_user_session_path, class: "nav-link active" %></li>
          <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "nav-link active" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
