<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand logo"><%= link_to "Books that we loved", books_path%></div>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li><%= current_user.username %></li>
        <li><%= link_to "Add New Book", find_path %></li>
        <li><%= link_to "Account", users_path %></li>
        <% if current_user.has_role? :admin %>
          <li><%= link_to "Admin", admins_path %></li>
        <% end %>
        <li><button class="btn btn-dark-outline"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li></button>
        <% else %>
        <li><button class="btn btn-dark-outline"><%= link_to "Login", new_user_session_path %></button></li>
        <li><button class="btn btn-dark"><%= link_to "Sign up", new_user_registration_path %></button></li>
      <% end %>
    </ul>
    <!-- Hamburger Menu -->
    <button type="button" class="hamburger" id="menu-btn">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>
</nav>

<!-- Mobile Menu -->
<div class="mobile-menu hidden" id="menu">
  <ul class="mobile-menu-menu">
    <% if user_signed_in? %>
      <li><%= current_user.username %></li>
      <li><%= link_to "Add New Book", find_path %></li>
      <li><%= link_to "Account", users_path %></li>
  </ul>
  <ul class="mobile-menu-btns">
    <% if current_user.has_role? :admin %>
      <li><%= link_to "Admin", admins_path %></li>
    <% end %>
    <li><button class="btn btn-dark-outline"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li></button>
  <% else %>
    <li><button class="btn btn-dark-outline"><%= link_to "Login", new_user_session_path %></button></li>
    <li><button class="btn btn-dark"><%= link_to "Sign up", new_user_registration_path %></button></li>
  <% end %>
  </ul>
</div>


