<div class="wrapper request-form">
  <div>
    <h1 class="title request-title">Request Form</h1>
    
    <h3 class="sub-title">You are requesting for:</h3>
    <%= @book.book.title %>
    <h3 class="sub-title">Owned by</h3>
    <%= @book.user.username %>
    <h3 class="sub-title"><%= "#{@book.user.username}'s favourite genres: "%></h3>
    <ul>
      <% @book.user.fav_genres.each do |genre| %>
        <li><%= genre.genre.name.capitalize %></li>
      <% end %>
    </ul>
    <p>- - - -</p>
    <h3 class="sub-title">Book that you want to use to exchange:</h3>
    
    <%= form_with model: @request do |f| %>
      <%= f.hidden_field :requester_id, value: current_user.id %>
      <%= f.hidden_field :requestee_id, value: @book.user.id %>
      <%= f.hidden_field :requestee_book_id, value: requestee_book_id %>
      <% @owned_books.each do |b| %>
        <%= f.radio_button :requester_book_id, b.id, checked: "checked" %>
        <%= f.label :title, b.book.title %>
      <% end %>
      <div class="submit"><%= f.submit "Send", class: 'btn btn-dark' %></div>
    <% end %>
  </div>
</div>
