<!-- <div class="requests-page-wrapper">
  <div>
    <h1>Request you made: </h1>
    <ul>
      <% @requests_made.each do |request| %>
        <li><%= link_to request.id, request_path(request.id) %></li>
      <% end %>
    </ul>
  </div>
  
  <div>
    <h1>Requests you received: </h1>
    <ul>
      <% @requests_received.each do |request| %>
        <li><%= link_to request.id, request_path(request.id) %></li>
      <% end %>
    </ul>
  </div>
</div> -->

<div class="requests-page-wrapper">
  <div>
    <h1>Current Requests</h1>
    <h3>To be confirmed</h3>
    <ul>
      <% @requests_received.status_active.each do |request| %>
        <li><%= link_to request.id, request_path(request.id) %></li>
      <% end %>
    </ul>
    <h3>Awaiting Response</h3>
    <ul>
      <% @requests_made.status_active.each do |request| %>
        <li><%= link_to request.id, request_path(request.id) %></li>
    <% end %>
    </ul>
  </div>
  <div>
    <h1>Past Requests</h1>
    <ul>
      <ul>
        <% @all_requests.status_completed.each do |request| %>
          <li><%= link_to request.id, request_path(request.id) %></li>
      <% end %>
      </ul>
    </ul>
  </div>
</div>
