<div class="wrapper request-show">
  <div class="request">
    <h1 class="title request-title">Request No. <%= @request.id %></h1>
    <h3 class="sub-title">Send from:</h3>
      <%= @request.requester.username%>
    <h3 class="sub-title">Send to:</h3>
      <%= @request.requestee.username%>
    <h3 class="sub-title">Request for:</h3>
      <%= link_to @request.requestee_book.book.title, owned_book_path(@request.requestee_book.id)%>
    
    <h3 class="sub-title">Offer:</h3>
    <%= link_to @request.requester_book.book.title, owned_book_path(@request.requester_book.id)%>
    
    <h3 class="sub-title">Status:</h3>
    <%= @request.status.capitalize %>
    <div class="requests-btns">
      <% if @request.status == 'pending' %>
        <% if @request.requester_id == current_user.id %>
        <button class="btn btn-dark"><%= link_to "Edit this request", edit_request_path(@request.id)%></button>
        <button class="btn btn-dark"><%= link_to "Cancel this request", request_path(@request.id), method: :delete, data: { confirm: "Are you sure?"} %></button>
        <% else %>
        <button class="btn btn-dark"><%= link_to "Accept request", accept_request_path(@request.id)%></button>
        <button class="btn btn-dark"><%= link_to "Decline request", decline_request_path(@request.id)%></button>
        <% end %>
        <% elsif @request.status == 'invalid' %>
          <h3 class="sub-title">Note:</h3>
          <p>Unfortunately one of the book is no longer available.</p>
      <% end %>
    </div>
  </div>
  
  
  
</div>
