<h1>Request No. <%= @request.id %></h1>
<h3>Book you request for: 
  <%= link_to @request.requestee_book.book.title, owned_book_path(@request.requestee_book.book.id)%>
</h3>
<h3>Book you offered: 
  <%= link_to @request.requester_book.book.title, owned_book_path(@request.requester_book.book.id)%>
</h3>
<h3>Status: <%= @request.status.capitalize %></h3>

<% if @request.requester == current_user %>
  <button><%= link_to "Edit this request", edit_request_path(@request.id)%></button>
  <button><%= link_to "Cancel this request", request_path(@request.id), method: :delete %></button>
<% else %>
  <button><%= link_to "Accept request", action_request_path(@request.id) + "?state=accept" %></button>
  <button><%= link_to "Deny request", action_request_path(@request.id) + "?state=deny" %></button>
<% end %>

