<h1>Add your book for swap</h1>

<%= form_with model: @owned_book do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, value: @title %>
  </div>
  <div>
    <%= f.label :condition %>
    <%= f.select :condition, OwnedBook.conditions.keys %>
  </div>
  <div>
    <%= f.label :format %>
    <%= f.select :format, OwnedBook.formats.keys %>
  </div>
  <div>
    <%= f.label :owner_note %>
    <%= f.text_area :owner_note %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image, folder: "books-that-we-loved/", accept: 'image/png, image/jpg, image/jpeg' %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>