<div class="wrapper owned_books_add">
  <div class="owned_books_form">
    <h1 class="title">Add your book for swap</h1>
    <h3 class="sub-title"><%= params[:title] %></h3>
    <div>
      <%= form_with model: @owned_book do |f| %>
        <div>
          <%= f.hidden_field :title, value: @title %>
        </div>
        <div>
          <%= f.label :condition %>
          <%= f.select :condition, OwnedBook.conditions.keys %>
        </div>
        <div>
          <%= f.label :format %>
          <%= f.select :format, OwnedBook.formats.keys %>
        </div>
        <div>
          <%= f.label :owner_note %>
          <div><%= f.text_area :owner_note, cols: 40, rows: 10, placeholder: "Tell us what you think about this book ..." %></div>
        </div>
        <div>
          <%= f.label :image, "Please upload one photo of your book" %>
          <div><%= f.file_field :image, folder: "books-that-we-loved/", accept: 'image/png, image/jpg, image/jpeg' %></div>
        </div>
        <div>
          <div class="submit"><%= f.submit "Create", class: 'btn btn-dark' %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>