<div class="wrapper edit-book">
  <div class="edit-book-form">
    <h1>Edit Book</h1>
    <h3 class="sub-title"><%= @book.title %></h3>
    
    <div>
      <%= form_with model: @book do |f| %>
      <div>
        <%= f.hidden_field :title, value: @book.title %>
        <div>
          <%= f.label :authors %>
          <%= f.text_field :authors, value: @book.authors.map { |a| a.name }.join(', ') %>
        </div>
        <div>
          <%= f.label :description %>
          <%= f.text_area :description, value: @book.description %>
        </div>
        <%= f.hidden_field :book_api_id, value: @book.book_api_id %>
        <%= f.hidden_field :cover, value: @book.cover %>
      </div>
      <div class="genres">
        <h3><%= f.label :genres, "Genres:" %></h3>
        <%= f.collection_check_boxes :genre_ids, @genres, :id, :name %>
      </div>
    
      <div>
        <div class="submit"><%= f.submit "Update", class: 'btn btn-dark' %></div>
      </div>
      <% end %>
    </div>
  </div>
  
</div>
