<h1>Edit Book</h1>

<div class="show-book-wrapper-right">
  <%= form_with model: @book do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, value: @book.title %>
    <%= f.label :authors %>
    <%= f.text_field :authors, value: @book.authors.map { |a| a.name }.join(', ') %>
    <%= f.label :description %>
    <%= f.text_area :description, value: @book.description %>
    <%= f.label :book_api_id %>
    <%= f.text_field :book_api_id, value: @book.book_api_id %>
    <%= f.label :cover %>
    <%= f.text_field :cover, value: @book.cover %>
  </div>
  <div>
    <h3><%= f.label :genres, "Genres:" %></h3>
    <%= f.collection_check_boxes :genre_ids, @genres, :id, :name %>
  </div>

  <div>
    <%= f.submit "Edit Book" %>
  </div>
<% end %>
</div>

