<h1>Add your book</h1>

<%= form_with model: @book do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, value: @title %>
  </div>
  <div>
    <%= f.label :authors %>
    <%= f.text_field :authors, value: @authors %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description, value: @description %>
    <%= f.label :book_api_id %>
    <%= f.text_field :book_api_id, value: @book_api_id %>
    <%= f.label :cover %>
    <%= f.text_area :cover, value: @cover %>
  </div>
  <div>
    <%= f.label :genres %>
    <%= f.collection_check_boxes :genre_ids, @genres, :id, :name %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>