<h1><%= @book.title %></h1>

<h2><%= @book.authors.map{ |a| a.name }.join(", ")%></h2>

<img src="<%= @book.cover %>" alt="Book cover">

<h3>Genres: </h3>
<%= @book.genres.map{ |g| g.name.capitalize }.join(", ")%>

<h3>Description: </h3>
<%= @book.description %>


