<h1><%= @book.title %></h1>

<h2><%= safe_join(@book.authors.map{ |a| link_to(a.name, author_path(a.id)) }, ", ".html_safe) %></h2>

<img src="<%= @book.cover %>" alt="Book cover">

<h3>Genres: </h3>
<%= safe_join(@book.genres.map{ |g| link_to(g.name.capitalize, genre_path(g.id)) }, ", ".html_safe) %>

<h3>Description: </h3>
<%= @book.description %>

<h3>You have one that want to swap?</h3>
<%= link_to "Click here", new_owned_book_path + "?title=#{@book.title}" %>

<h3>List of owners: </h3>
<%= %>


